[user]
	 name = Jacob Beal
	email = jacob.beal@ieee.org
	signingkey = DF8C38CCA82D513F
[alias]
     p = pull --ff-only
	st = status --short
  glog = log --all --pretty='format:%d %Cgreen%h%Creset %an - %s' --graph
   cob = checkout -b
    co = checkout
    e = !vim $(git st | sed -e 's/\\(?? \\| [AM] \\)//')
  pom = push origin master
[core]
	excludesfile = ~/.globalgitignore
	editor = vim
[commit]
	gpgsign = true
    verbose = true
[diff]
    tool = vimdiff2
[difftool]
    prompt = false
[merge]
    tool = fugitive
[mergetool]
    prompt = false

#Custom Commands
[url "git@github.com:"]
	insteadOf = https://github.com/
    insteadOf = gh:
[url "git@gitlab.ecs.vuw.ac.nz:"]
    insteadOf = ecs:
    insteadOf = https://gitlab.ecs.vuw.ac.nz/

[mergetool "fugitive"]
    cmd = vim -f -c "Gdiff" "$MERGED"
[difftool "vimdiff2"]
    cmd = vim -d $LOCAL $REMOTE
